<footer class="w-full justify-center py-4 px-6 lg:px-20  bg-violet-900">
  <div class="container flex flex-col sm:flex-row px-2">
    <!-- left section -->
    <div
      class="basis-1/2 sm:pr-2 pb-2 sm:pb-0 space-y-2"
    >
      <p class="text-white font-bold text-lg lg:text-xl">Blog</p>
      <!-- <div class="flex flex-wrap gap-1 items-center">
        <p class="text-gray-300">Powered by:</p>
        <a href="https://angular.io">
          <img
            class="w-5 h-5 rounded-full overflow-hidden"
            src="/assets/angular.png"
          />
        </a>

        <a href="https://nodejs.org">
          <img
            class="w-4 h-4 rounded-full overflow-hidden"
            src="/assets/nodejs.png"
          />
        </a>

        <a href="https://mongodb.com">
          <img
            class="w-4 h-4 rounded-full overflow-hidden ml-1"
            src="/assets/mongodb.png"
          />
        </a>
      </div> -->
      <p class="text-gray-300 text-sm">&copy;2023 All rights reserved</p>
    </div>

    <!-- right section -->
    <div class="basis-1/2 pt-2 sm:pt-0 sm:pl-2 space-y-2">
      <p class="text-white font-bold text-lg lg:text-xl">
       Get in touch
      </p>

      <!-- instagram -->
      <div class="flex flex-wrap gap-1 items-center">
        <!-- <img class="h-4 w-4" src="/assets/instagram.svg" /> -->
        <span class="text-gray-300 text-sm">Tel : </span>
        <p class="text-gray-300">+98-123-456-789</p>
      </div>

      <!-- gmail -->
      <!-- <div class="flex flex-wrap gap-1 items-center">
        <img class="h-4 w-4 bg-white rounded-sm" src="/assets/gmail.png" />
        <span class="text-zinc-300 text-sm">Gmail : </span> -->
        <!-- <p class="text-gray-300">blog@gmail.com</p> -->
      <!-- </div> -->
    </div>
  </div>
</footer>
